.container:nth-of-type(4n) {
  background-color: var(--color-primary-500);
}

.container:nth-of-type(4n + 1) {
  background-color: var(--color-primary-200);
}

.container:nth-of-type(4n + 2) {
  background-color: var(--color-primary-300);
}

.container:nth-of-type(4n + 3) {
  background-color: var(--color-primary-400);
}
